{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "testing (debug mode)",
            "request": "launch",
            "type": "dart",
            "flutterMode": "debug",
            "args": [
                "--dart-define=FIREBASE_API_KEY=your-real-api-key",
                "--dart-define=FIREBASE_APP_ID=your-real-app-id",
                "--dart-define=FIREBASE_MESSAGING_SENDER_ID=your-real-sender-id",
                "--dart-define=FIREBASE_PROJECT_ID=your-real-project-id",
                "--dart-define=FIREBASE_STORAGE_BUCKET=your-real-storage-bucket"
                "--dart-define=SUPABASE_ANON_KEY=your-real-anon-key"
                "--dart-define=SUPABASE_URL=your-real-url"
            ],
            "console": "debugConsole",
        },
        {
            "name": "testing (profile mode)",
            "request": "launch",
            "type": "dart",
            "flutterMode": "profile",
            "args": [
                "--dart-define=FIREBASE_API_KEY=your-real-api-key",
                "--dart-define=FIREBASE_APP_ID=your-real-app-id",
                "--dart-define=FIREBASE_MESSAGING_SENDER_ID=your-real-sender-id",
                "--dart-define=FIREBASE_PROJECT_ID=your-real-project-id",
                "--dart-define=FIREBASE_STORAGE_BUCKET=your-real-storage-bucket"
                "--dart-define=SUPABASE_ANON_KEY=your-real-anon-key"
                "--dart-define=SUPABASE_URL=your-real-url"
            ],
        },
        {
            "name": "testing (release mode)",
            "request": "launch",
            "type": "dart",
            "flutterMode": "release",
            "args": [
                "--dart-define=FIREBASE_API_KEY=your-real-api-key",
                "--dart-define=FIREBASE_APP_ID=your-real-app-id",
                "--dart-define=FIREBASE_MESSAGING_SENDER_ID=your-real-sender-id",
                "--dart-define=FIREBASE_PROJECT_ID=your-real-project-id",
                "--dart-define=FIREBASE_STORAGE_BUCKET=your-real-storage-bucket"
                "--dart-define=SUPABASE_ANON_KEY=your-real-anon-key"
                "--dart-define=SUPABASE_URL=your-real-url"
            ],
        }
    ]
}